<ion-card>
<!--  <img src="{{gotCharacter.fname}}" />-->
  <ion-card-header>
    <ion-card-subtitle>{{gotCharacter.fname}}</ion-card-subtitle>
    <ion-card-title>{{gotCharacter.lname}}</ion-card-title>
    <ion-label>стать: {{gotCharacter.sex}}</ion-label>
    <br>
<!--    <ion-label>Група: {{gotCharacter.group}}</ion-label>-->
<!--    <br>-->
<!--    <ion-label>вул. {{gotCharacter.street_name}}</ion-label>-->
<!--    <span>, </span>-->
<!--    <ion-label>буд. {{gotCharacter.street_building_number}} </ion-label>-->
<!--    <span>, </span>-->
<!--    <ion-label>кв. {{gotCharacter.flat_number}} </ion-label>-->
<!--    <br>-->
<!--    <ion-label>моб. {{gotCharacter.mob_phone}} </ion-label>-->
  </ion-card-header>
  <ion-card-content>
<!--    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.-->
  </ion-card-content>
</ion-card>
